<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Assigment01Camila</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <script src="/src/public/Logger.js"></script>
</head>
<body>
  <h1>Inch to Cm Converter</h1>
  <p class="headerTwo">Enter a decimal number for centimeter, 
    and a decimal or fractional number for inch, for example, "1 1/4".
  </p>

  <table class="centre">
    <!-- Inch to Cm headers -->
     <tr>
      <td> <p class="inchHeader">Inch</p></td>
      <td></td>
      <td> <p class="cmHeader">Cm</p></td>
     </tr>


    <!-- inputs and arrows -->
     <tr>
      <td>
        
      <input [(ngModel)]="inch" (ngModelChange)="convertToCm()">
      </td>
      <td class="arrows_table"> <p class="arrows"> &#8644;</p></td>
      <td>
        <input [(ngModel)]="cm" (ngModelChange)="convertToInch()">
      </td>
    </tr>
  </table>
  <br> 
          <!-- <input type="checkbox" id="fractions" name="fractions" value="Fractions"> -->
          <!-- Use even binding and create (kinda) if statement for the fractions lol -->
          <!-- im ngl this shit might not work lmao -->


<!-- use of fractions fieldset --> 
<fieldset> 
  <legend>General Information</legend>
  <!-- fraction or decimal selection -->
  <input [(ngModel)]="checkbox" type="checkbox" (ngModelChange)="convertToInch()" >
  <label>Use Fractions</label>
  <label class="baseLabel">Base:</label>
   <!-- base selection -->
    <select [(ngModel)]="base" (ngModelChange)="convertToInch()">
      <option value="4" >4</option>
      <option value="8">8</option>
      <option value="16">16</option>
      <option value="32">32</option>
      <option value="64">64</option>
    </select>
    <br>
    <!-- simplified selection -->
     <input [(ngModel)]="simplified" type="checkbox" (ngModelChange)="convertToInch()">
     <label>Simplified</label>
</fieldset>

<!-- output message formula -->

  <p class="convMessage">Conversion:</p>
  <p class="convMessage">{{inch}} in * 2.54 = {{cm}} cm </p>

<!-- fraction-decimal chart -->
 <h3 class="headetThree"> Fraction to Decimal Chart</h3>
 
 <table class="chartConv">
  <!-- header -->
  <tr class="chartHeader">
    <th>Fraction (in)</th>
    <th>Decimal (in)</th>
    <th>Metric (cm)</th>
  </tr>
  <!-- line 1 -->
   <tr class="chartBack">
    <td>1/6"</td>
    <td>0.0625"</td>
    <td>0.1588</td>
   </tr>
   <!-- line 2 -->
   <tr>
    <td>2/16" = 1/8"</td>
    <td>0.125"</td>
    <td>0.3175</td>
   </tr>
   <!-- line 3 -->
   <tr class="chartBack">
    <td>3/16"</td>
    <td>0.1875"</td>
    <td>0.4763</td>
   </tr>
   <!-- line 4 -->
   <tr>
    <td>4/16" = 1/4"</td>
    <td>0.25"</td>
    <td>0.635</td>
   </tr>
   <!-- line 5 -->
   <tr class="chartBack">
    <td>5/16"</td>
    <td>0.3125"</td>
    <td>0.7938</td>
   </tr>
   <!-- line 6 -->
   <tr>
    <td>6/16" = 3/8"</td>
    <td>0.375"</td>
    <td>0.9525</td>
   </tr>
   <!-- line 7 -->
   <tr class="chartBack">
    <td>7/16"</td>
    <td>0.4375"</td>
    <td>1.1113</td>
   </tr>
  <!-- 8 -->
  <tr>
    <td>8/16" = 1/2"</td>
    <td>0.5"</td>
    <td>1.27</td>
   </tr>
   <!-- 9 -->
   <tr class="chartBack">
    <td>9/16" </td>
    <td>0.5625"</td>
    <td>1.4288</td>
   </tr>
   <!-- 10 -->
   <tr>
    <td>10/16" = 5/8"</td>
    <td>0.625"</td>
    <td>1.5875</td>
   </tr>
   <!-- 11 -->
   <tr class="chartBack">
    <td>11/16"</td>
    <td>0.6875"</td>
    <td>1.7463</td>
   </tr>
   <!-- 12 -->
   <tr>
    <td>12/16" = 3/4"</td>
    <td>0.75"</td>
    <td>1.905</td>
   </tr>
   <!-- 13 -->
   <tr class="chartBack">
    <td>13/16"</td>
    <td>0.8125"</td>
    <td>2.0638</td>
   </tr>
   <!-- 14 -->
   <tr>
    <td>14/16" = 7/8"</td>
    <td>0.875"</td>
    <td>2.2225</td>
   </tr>
   <!-- 15 -->
   <tr class="chartBack">
    <td>15/16"</td>
    <td>0.9375"</td>
    <td>2.3813</td>
   </tr>
   <!-- 16 -->
   <tr>
    <td>16/16" = 1"</td>
    <td>1.0"</td>
    <td>2.54</td>
   </tr>
   <!-- table end -->
  </table>
  <br>
  </body>
</html>
